.picker {
  height: 20px;
  border: 1px solid black;

  &__wrapper {
    position: relative;
  }

  &__pointer {
    position: absolute;
    height: calc(100% + 10px);
    width: 2px;
    background-color: #000000;
    transform: translateY(-50%);
    top: 50%;
  }
}
