<mat-card>
  <mat-card-title>
    Light display
  </mat-card-title>
  <mat-card-subtitle>
    Displays light schedule and current status
  </mat-card-subtitle>
  <hr>
  <form>
    <div class="row">
      <div class="col-md-2 slider">
        Schedule ({{position.toFixed()}}%)
      </div>
      <div class="col-md-10 slider">
        <app-value-selector [(ngModel)]="position" [min]="0" [max]="100" disabled name="scheduler" [gradient]="gradient"></app-value-selector>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2 slider">
        Sample ({{color}})
      </div>
      <div class="col-md-10 slider">
        <div class="sample" [style.background-color]="color"></div>
      </div>
    </div>
  </form>
</mat-card>
