.sample {
  height: 20px;
  position: relative;
  border: 1px solid #000000;

  .pointer {
    width: 2px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: calc(100% + 10px);
    background-color: #000000;
  }
}
