<form>
  <div class="row">
    <div class="col-md-12">
      <div class="gradient" [ngStyle]="{background: gradient}">
        <div class="pointer" [ngStyle]="{left: position + '%'}"></div>
      </div>
    </div>
    <h3 class="color-display">{{color}}</h3>
    <div class="col-md-4">
      <div>
        <mat-slider class="color-red" (input)="onColorChange($event, 'r')" min="0" max="255" step="1" #red></mat-slider>
      </div>
      <div>
        <mat-slider class="color-red" (input)="onColorChange($event, 'g')" min="0" max="255" step="1" #green></mat-slider>
      </div>
      <div>
        <mat-slider class="color-red" (input)="onColorChange($event, 'b')" min="0" max="255" step="1" #blue></mat-slider>
      </div>
    </div>
  </div>
</form>
